<div class="bg-warning"  style="padding-top: 10px; padding-bottom: 10px;">
    <div class="container">
   <!-- Section: Testimonials v.3 -->
<section class="team-section text-center my-5">
 
    <!-- Section heading -->
    <h2 class="h1-responsive font-weight-bold my-5 wow zoomInDown" data-wow-delay="0.6s">Testimonials</h2>
    <!-- Section description -->
    <p class="dark-grey-text w-responsive mx-auto mb-5 wow slideInRight" data-wow-delay="0.6s">Below are the testimonials of few of our many customers worldwide. The satisfaction they derive from our restaurants is obvious and below is what they have said about ABC Foods</p>
  
    <!--Grid row-->
    <div class="row text-center">
  
      <!--Grid column-->
      <div class="col-md-4 mb-md-0 mb-5">
  
        <div class="testimonial wow slideInRight" data-wow-delay="0.6s">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(1).jpg" class="view overlay rounded-circle rounded z-depth-2 mb-lg-0 mb-4 waves-light">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Mary Dean</h4>
          <h6 class="font-weight-bold blue-text my-3">Business Developer</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>Dishes are exquisite and Delicious. Foods taste better than most restaurants i have ever seen. The gestures by the staffs are warming and friendly. Kudos to ABC Foods Limited</p>
          <!--Review-->
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star-half-alt"> </i>
          </div>
        </div>
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4 mb-md-0 mb-5">
  
        <div class="testimonial wow fadeIn" data-wow-delay="0.9s">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="assets/ife.jpeg" class="view overlay rounded-circle rounded z-depth-2 mb-lg-0 mb-4 waves-light" alt="Jokotola Ifeoluwa">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4" width="250" height="250">Jokotola Ifeoluwa</h4>
          <h6 class="font-weight-bold blue-text my-3">Mobile App Developer</h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>Foods ordered are delivered on time. Your Dishes and snacks are superb</p>
          <!--Review--> 
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
          </div>
        </div>
  
      </div>
      <!--Grid column-->
  
      <!--Grid column-->
      <div class="col-md-4">
  
        <div class="testimonial wow slideInLeft" data-wow-delay="0.6s">
          <!--Avatar-->
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="view overlay rounded-circle rounded z-depth-2 mb-lg-0 mb-4 waves-light">
          </div>
          <!--Content-->
          <h4 class="font-weight-bold dark-grey-text mt-4">Sidney Comfort</h4>
          <h6 class="font-weight-bold blue-text my-3"> 
            Chief Chef
          </h6>
          <p class="font-weight-normal dark-grey-text">
            <i class="fas fa-quote-left pr-2"></i>An excellent food website that provides solution to all hunger issues :). ABC Foods has a large variety of foods and snacks and orders palced does not take long to deliver. </p>
          <!--Review-->
          <div class="orange-text">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="far fa-star"> </i>
          </div>
        </div>
  
      </div>
      <!--Grid column-->
  
    </div>
    <!--Grid row-->
  
  </section>
  <!-- Section: Testimonials v.3 -->
       
</div>
</div>