<div class="container">

    <div class="row margin-top: auto">
        <div class="col-12 col-sm-6">
            <span class="align-baseline animated wow rotateInDownRight" data-wow-delay="0.6s"x>
                <p> &nbsp; </p><p></p><p>&nbsp;</p>
                <h1 class="font-weight-bold wow fadeInUp" data-wow-delay="0.9s">
                    About ABC Foods Ltd
                </h1> <p></p><p>&nbsp;</p>
                <h5 class="wow rotateInDownLeft" data-wow-delay="0.5s" style="line-height: 40px; text-align: justify;">
                   ABC Foods is a giant restaurant in Nigeria, Professional chefs are available at ABC Foods. Dishes available ranges from local to intercontinental. Staffs are loyal and possess good gestures. Our head office is at Garki, Abuja, Nigeria. Place an order on any products of ours and you will be glad you did. Also, we offer catering services. You can use the number at our contact page to contact us and for more information mail us at jaywebs0@gmail.co
                   
                </h5>
             </span> <br/><p></p>
            <span>
                    <button mdbBtn type="button" color="danger" size="lg" mdbWavesEffect>Learn More</button>
            </span>
            
        </div>
        <div class="col-12 col-sm-6 wow rotateInDownRight"  data-wow-delay="0.5s" style="border-radius: 10px;"><img src="assets/man.png" width="100%" style="border-radius: 10px;"></div>
    </div>
</div>