<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">

  <div style="background-color: #e63d62;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Get connected with us on social networks!</h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-6 col-lg-7 text-center text-md-right">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f white-text mr-4"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter white-text mr-4"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g white-text mr-4"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in white-text mr-4"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram white-text"> </i>
          </a>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5  wow rubberBand" data-wow-delay="0.6s">

    <!-- Grid row -->
    <div class="row mt-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">ABC Foods Limited</h6>
        <hr class="blue accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p> ABC Foods is a giant restaurant in Nigeria, Professional chefs are available at ABC Foods.</p>
        <p> Our head office is at Garki, Abuja, Nigeria. Place an order on any products of ours and you will be glad you did. </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Products</h6>
        <hr class="blue accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a href="#!">Traditional Foods</a>
        </p>
        <p>
          <a href="#!">Intercontinental Dishes</a>
        </p>
        <p>
          <a href="#!">Snacks and Rolls</a>
        </p>
        <p>
          <a href="#!">Drinks and Wine</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="blue accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a>About Us</a>
        </p>
        <p>
          <a>Testimonials</a>
        </p>
        <p>
          <a>Write Us</a>
        </p>
        <p>
          <a>Dishes and Snacks</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="blue accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Ijegun-Ikotun, Lagos</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> jaywebs0@gmail.com </p>
        <p>
          <i class="fas fa-phone mr-3"></i> +234(0) 906 750 2530 </p>
        <p>
          <i class="fas fa-print mr-3"></i> +234(0) 906 750 2530 </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://ng.linkedin.com/in/ifeoluwa-jokotola-10109a104"> Jokotola Ifeoluwa</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->